body{
    margin: 0%;
    padding: 0%;
}
.arriba{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: #4F5665;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    font-family: Rubik;
}
nav a:hover{
    color: greenyellow;
}
.boton{
    background-color: rgb(212, 198, 198);
    border-radius: 45px;
    height: 45px; 
    width: 130px;
    
}
.logo{
    text-decoration: none;
    color:  #dbdada;
    font-family: sans-serif;
    margin-right: 30%;
    display: flex;
    align-items: center;
    
}
.circulo0{
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    margin-right: 30px;
 }
.link{
    font-size: 16px;
    line-height: 18.96px;
    font-weight: 400;
    font-style: sans-serif;
}
.mitad{
    background-color: white;
    display: flex;
    justify-content: center;
}
.palabras{
    text-decoration: none;
    color: #0B132A;
    text-align: justify;
    text-align: left;
    margin-top: 50.66px;
    margin-left: 15px;
    font-family: sans-serif;;

}
.imagen{
    width: 500.24px;
    height: 382.44;
    top: 169px;
    left: 630.76;
}
.esh1{
    width: 500px;
    height: 70px;
    font-family: sans-serif;
    
}
.boton2{
    background-color: red;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    font-family: sans-serif;
    margin-left: 15px;
    box-shadow: 1px 5px 4px rgb(158, 158, 158);
    color: white;
}
.final{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 4px rgb(158, 158, 158);
    align-items: center;
    margin-right: 3%;
}
.circulo{
    margin-left: 20%;
   height: 55px;
   width: 55px;
   background-color: white;
   border-radius: 50%;
}
.new{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}
.new2{
    font-family: sans-serif;
}
.newle{
    margin-top: 0%;
}
.ok{
    display: inline;
    align-items: center;
}
.ok>div{
    display: flex;
    align-items: center;
}
.new2{
    display: block;
    text-align: center;
}
.cajas{
    display: flex;
    justify-content: space-evenly;
}
.caja1{
    border: 3px solid red;
}
.caja2{
    border: 3px solid red;
}
.caja3{
    border: 3px solid red;
}
.letras>div{
    text-align: center;
}
.cajasminis>div{
    display: flex;
    align-items: center;
}
.botones{
    
    background-color: red;
    width: 177px;
    height: 45px;  
    border-radius: 50px;
    color: white;
}
.bot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    
}
.fin>div{
    display: flex;
    
}